.Menu {
    -fx-background-color: #FFFFFF ;
}
.RoundButton {
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-border-width: 4;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 60px;
    -fx-max-height: 60px;
    -fx-background-color: #FFFFFF;
    -fx-accent: #0093ff;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
    -fx-font-size: 22;
}
.toggle-button:selected {
    -fx-background-color:    #17bd46;
}

.AttackButtonOf{
    -fx-background-color:  #bd1111 ;
    -fx-text-fill:  black;
    -fx-background-radius: 5em;

}

.CountryButton{
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-border-width: 4;
    -fx-min-width: 45px;
    -fx-min-height: 45px;
    -fx-max-width:  45px;
    -fx-max-height: 45px;
    -fx-border-color: black;
    -fx-font-size: 18;
    -fx-background-insets: 0;
}
.CountryButtonHighlight{
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-border-width: 4;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width:  50px;
    -fx-max-height: 50px;
    -fx-border-color: white;
    -fx-font-size: 20;
    -fx-background-insets: 0;
}
.OkButton{
    -fx-background-color:  #0fea88;
    -fx-text-fill:  black;
    -fx-background-radius: 5em;
}


.text-area {
    text-area-background: black;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}
